C:\Users\eugen\Desktop\Web_tehnologi\2023-12-19_04-29-19.png
C:\Users\eugen\Desktop\Web_tehnologi\2023-12-19_04-53-17.png
C:\Users\eugen\Desktop\Web_tehnologi\2023-12-19_04-29-15.png
C:\Users\eugen\Desktop\Web_tehnologi\2023-12-19_04-29-01.png
C:\Users\eugen\Desktop\Web_tehnologi\2023-12-19_04-20-13.png
C:\Users\eugen\Desktop\Web_tehnologi\2023-12-19_04-20-07.png
C:\Users\eugen\Desktop\Web_tehnologi\image
